fastapi[standard]
uvicorn[standard]
grpcio
grpcio-tools
protobuf
torch
torchvision
opacus
pandas
numpy
scikit-learn
supabase
python-multipart
pydantic
pydantic-settings
python-dotenv
websockets
eval_type_backport
onnxscript
tenseal
pytest